# SSL Common Configuration
# Include this file in server blocks that need SSL
# Note: ssl_certificate and ssl_certificate_key must be defined in each server block

ssl_protocols TLSv1.2 TLSv1.3;
ssl_ciphers EECDH+AES128:RSA+AES128:EECDH+AES256:RSA+AES256:EECDH+3DES:RSA+3DES:!MD5;
ssl_prefer_server_ciphers On;
ssl_session_cache shared:SSL:128m;
add_header Strict-Transport-Security "max-age=31557600; includeSubDomains";
ssl_stapling on;
ssl_stapling_verify on;
